{% extends 'base.html' %}
{% block title %} usuarios{% endblock %}
{% block content %}
<h2>☕ Productos disponibles</h2>
<div class="row">
  {% for p in productos %}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5>{{ p.nombre }}</h5>
        <p>Precio: ${{ p.precio }}</p>
        <p>Stock: {{ p.stock }}</p>
        <form method="POST" action="{{ url_for('agregar_pedido', producto_id=p.id) }}">
          <input type="number" name="cantidad" min="1" max="{{ p.stock }}" value="1" class="form-control mb-2">
          <button class="btn btn-success">Pedir</button>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
